body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

nav {
  background-color: #000;
  color: #fff;
}

nav h1 {
  padding: 5px;
  margin-left: 8%;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

nav div button {
  background-color: #fff;
  margin: 10px;
  margin-right: 50px;
  border-radius: 8px;
  font-size: 18px;
  padding: 8px;
}

nav div button:hover {
  background-color: #d1d1d1;
}

button:focus {
  outline: none;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  margin: 10px 12%;
  padding: 10px;
  background-color: #ddd;
  border-color: #bbb;
  border-radius: 1px;
  border-style: solid;
  display: flex;
  align-items: flex-start;
}

.container2 {
  margin: 10px 12%;
  padding: 10px;
  background-color: #ddd;
  border-color: #bbb;
  border-radius: 1px;
  border-style: solid;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.categories {
  border-right: 1px solid #aaa;
  padding: 10px;
}

.items {
  padding-left: 10px;
}

.buttons {
  display: flex;
  align-items: flex-start;
}

.buttons button {
  margin-right: 5px;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  border: none;
}

.buttons button:hover {
  -webkit-box-shadow: 2px 3px 5px 0px rgba(112, 112, 112, 1);
  -moz-box-shadow: 2px 3px 5px 0px rgba(112, 112, 112, 1);
  box-shadow: 2px 3px 5px 0px rgba(112, 112, 112, 1);
}

.title {
  text-decoration: none;
  color: #fff;
}

.title:visited {
  color: #fff;
}

.center {
  margin: 0 auto;
}

.input-form {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.input-form label {
  display: block;
}

.input-form {
  max-width: 400px;
}

.input-form input,
.input-form textarea,
.input-form select {
  max-width: 400px;
  border-radius: 5px;
  outline: none;
}

input[type="submit"],
.option-btn {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 10px;
}

.input-form input:focus,
.input-form textarea:focus,
.input-form select:focus {
  border-radius: 5px;
  box-shadow: 0 0 9px #8de;
}

input[type="submit"]:hover,
.option-btn:hover,
.option-btn:hover {
  box-shadow: 0 0 9px #000;
}

.profile-pic {
  max-height: 50px;
  max-width: 50px;
  border-radius: 50px;
}

.message {
  padding: 20px;
  background-color: #fff;
  list-style-type: none;
  border-color: #bbb;
  border-style: solid;
  border-radius: 6px;
}
