<html>
  <head>
    <title>{% block title %}New Item{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container2">
      {% block itemTitle %}
      <h2>New Item</h2>
      {% endblock %}
      <div>
        <form
          {%
          block
          action
          %}
          action="{{ url_for('newItem', categoryName=categoryName) }}"
          {%
          endblock
          %}
          method="POST"
          class="input-form center"
        >
          <label for="name">Name:</label>
          <input
            type="text"
            name="name"
            placeholder="Enter a name for your item"
            required
          />
          <br /><br />
          <label for="desc">Description:</label>
          <textarea
            name="desc"
            cols="30"
            rows="5"
            placeholder="Write your description"
          ></textarea>
          <br /><br />
          <label for="category">Category:</label>
          <select name="category">
            <option value="romance" {% if categoryName == 'romance' %} selected="selected"{% endif %}>Romance</option>
            <option value="thriller" {% if categoryName == 'thriller' %} selected="selected"{% endif %}>Thriller</option>
            <option value="action" {% if categoryName == 'action' %} selected="selected"{% endif %}>Action</option>
            <option value="comedy" {% if categoryName == 'comedy' %} selected="selected"{% endif %}>Comedy</option>
            <option value="horror" {% if categoryName == 'horror' %} selected="selected"{% endif %}>Horror</option>
            <option value="drama" {% if categoryName == 'drama' %} selected="selected"{% endif %}>Drama</option>
            <option value="crime" {% if categoryName == 'crime' %} selected="selected"{% endif %}>Crime</option>
          </select>
          <br /><br />
          <input
            type="submit"
            {%
            block
            button
            %}value="Submit"
            {%
            endblock
            %}
          />
        </form>
      </div>
    </div>
  </body>
</html>
